  
  .imagem_esquerda{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid;
    border-color: white;
   
  }

  .texto_direita{
    font-size: 18px;
    color: white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    margin-right: 50px;
    margin-left: 390px;
  }

  .texto_centro{

    font-size: 18px;
    color: white; 
    margin-left: 20px;
    margin-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    margin-right: 35px;
    padding: 0,95%;
    margin-bottom: 80px;
    margin-top: 75px;

  }

  .imagem_direita {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid;
    border-color: white;
    margin-top: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    
  }
  
  .texto_esquerda{
    font-size: 18px;
    color: white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
    margin-right: 450px;
  }

  #imagem_palestra {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 2%;
  }
  #mudança{
    
      text-align: left;
      font-size: 37px;
      color: #ffffff;
      margin-top: 170px;
      margin-left: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
  }
  #fund{
    text-align: left;
    font-size: xx-large;
    color: white;
    margin-left: 20px;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    
}
  