.imagem_esquerda{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid;
    border-color: white;
}
.texto_direita{
    font-size: 18px;
    color: white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    margin-right: 50px;
    margin-left: 390px;
  }

  .imagem_direita {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid;
    border-color: white;
    margin-top: 2%;
  }
  
  .texto_esquerda{
    font-size: 18px;
    color: white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
  }
  .texto_centro{

    font-size: 18px;
    color: white; 
    margin-left: 20px;
    margin-top: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 35px;
    margin-top: 30px;
  }